<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>TicTacToe</servlet-name>
		<servlet-class>tictactoe.TicTacToeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TicTacToe</servlet-name>
		<url-pattern>/tictactoe</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>Reception</servlet-name>
        <servlet-class>tictactoe.ReceptionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Reception</servlet-name>
        <url-pattern>/reception</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GcmServlet</servlet-name>
        <servlet-class>tictactoe.GcmServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GcmServlet</servlet-name>
        <url-pattern>/gcm/*</url-pattern>
    </servlet-mapping>
    
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value>tictactoe.model.PlayerEndpoint</param-value>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>